body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 36px;
}

button:hover {
  corsor: pointer
}

button:not([disabled]):hover {
  cursor: pointer
}

button:disabled {
  cursor: text
}
